﻿@model IEnumerable<WebImporter.Models.GenovoDataSet>

@{
    ViewBag.Title = "Home Page";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #00ecf0;
    }
</style>

<div class="jumbotron">
    <h2>
        @ViewBag.SuccessMessage
    </h2>
</div>

<form action="" method="post" enctype="multipart/form-data">

    <label for="file">Upload new Investment:</label>
    <input type="file" name="file" id="file" />

    <input class="btn btn-primary" type="submit" value="Upload..." />
</form>

<br />

@if (Model != null)
{
    var tableCount = 0;
    foreach (var item in Model)
    {
        tableCount++;
        <h2>Imported Investment #@tableCount</h2>
        <table>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UniqueIdentifier)</th>
                <td>@Html.DisplayFor(modelItem => item.UniqueIdentifier)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Investment)</th>
                <td>@Html.DisplayFor(modelItem => item.Investment)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.InvestmentObjective)</th>
                <td>@Html.DisplayFor(modelItem => item.InvestmentObjective)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Sector)</th>
                <td>@Html.DisplayFor(modelItem => item.Sector)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.RiskRating)</th>
                <td>@Html.DisplayFor(modelItem => item.RiskRating)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.InitialChargePercentage)</th>
                <td>@Html.DisplayFor(modelItem => item.InitialChargePercentage)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AnnualManagementChargePercentage)</th>
                <td>@Html.DisplayFor(modelItem => item.AnnualManagementChargePercentage)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TotalExpensePercentage)</th>
                <td>@Html.DisplayFor(modelItem => item.TotalExpensePercentage)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.OngoingChargesPercentage)</th>
                <td>@Html.DisplayFor(modelItem => item.OngoingChargesPercentage)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DFMPercentage)</th>
                <td>@Html.DisplayFor(modelItem => item.DFMPercentage)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TransitionChargePercentage)</th>
                <td>@Html.DisplayFor(modelItem => item.TransitionChargePercentage)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.IncidentalCosts)</th>
                <td>@Html.DisplayFor(modelItem => item.IncidentalCosts)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FurtherInfo)</th>
                <td>@Html.DisplayFor(modelItem => item.FurtherInfo)</td>
            </tr>
        </table>
        <hr />
    }
}