﻿@using WebImporter.Models

@model MappingViewModel

@{
    ViewBag.Title = "Mappings";
}

<h2>Mappings</h2>




@*<form action="" method="post">*@

@using (Html.BeginForm("Mappings", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.DisplayNameFor(m => m.UniqueId)
    @Html.DropDownListFor(m => m.UniqueId, (SelectList)ViewBag.dropdowncontents)


    <br />

    @Html.DisplayNameFor(m => m.Investment)
    @Html.DropDownListFor(m => m.Investment, (SelectList)ViewBag.dropdowncontents)

    <br />

    @Html.DisplayNameFor(m => m.RiskRating)
    @Html.DropDownListFor(m => m.RiskRating, (SelectList)ViewBag.dropdowncontents)

    <input class="btn btn-primary" type="submit" value="Save" />
    @*</form>*@
}
